.logoSlider {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgLogo {
        width: 40px;
        display: inline-block;
    }

    .textLogo {
        font-weight: bold;
        font-family: 'Reem Kufi', sans-serif;
        display: inline-block;
        transform: translate(0, 7px);
        font-size: 24px;
        margin-left: 5px;
        color: #fff;
    }
}

.headerAdminLayout {
    border-bottom: 1px solid rgb(204, 203, 203);
    background-color: #fff;
    display: flex;

}

.infoUser {
    margin: 0px 0px 0px auto;
}

.imgAvatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.iconBell {
    display: inline-flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transform: translateY(7px);
    margin-right: 20px;
}

.iconBell:hover {
    color: blue;
    cursor: pointer;
}

.iconSidebar {
    width: 20px;
}

.newMessage {
    background-color: rgba(73, 158, 233, 0.208);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.newMessage:hover {
    background-color: rgba(223, 215, 215, 0.115);
}

.message {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.message:hover {
    background-color: rgba(73, 158, 233, 0.208);
}

.titleMessage {
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto;

    .timeMessage {
        text-align: end;
        font-weight: normal;
        font-size: 13px;
        color: #5f5f5f85;
    }
}

.listNotification {
    height: 400px;
    overflow: auto;
    width: 350px;
}

.emptyNotification {
    margin: auto;
    display: flex;
    flex-direction: column;
    opacity: 0.75;

    .imgEmptyNotification {
        margin: auto auto 10px auto;
    }

}