.inputForm {
    border: 1px solid rgb(160, 156, 156);
}

.warningText {
    padding: 5px;
    background-color: rgba(234, 234, 136, 0.178);
    border-radius: 5px;
    // width: 280px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}