.containerPage {
    padding: 10px 20px;
}

.contentPage {
    padding: 10px 20px;
}


.titleContentService {
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 10px;

    .iconTitleContentService {
        display: flex;
        margin: auto;
        font-size: 20px;
        color: #4B93FF;
    }

    .contentTitleContentService>p {
        color: rgb(136, 131, 131);
    }
}

.titleService {
    width: 50%;
}

@media only screen and (max-width: 920px) {
    .titleService {
        width: 100%;
    }
}

.labelImgService {
    border: 1px solid rgba(176, 174, 174, 0.693);
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
}

.imgService {
    width: 100px;
    height: 100px;
    margin: auto;

}


.btnAddService {
    background-image: linear-gradient(to right, #118961 0%, #71f1a0 51%, #13815a 100%);
    margin-top: 20px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnAddService:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.errors {
    color: red;
    margin-left: 10px;
}