.titleAbout {
    height: 350px;
    background-image: url("../../../../public/background/kitchen.png");
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 60px;
    border: 1px solid#35A4DC;
    margin: 5px auto;
}


.contentAbout {

    .introAbout {
        margin: 50px 0px;

        .titleIntro {
            font-size: 34px;
            font-weight: bold;
            text-align: center;
        }

        .desIntro {
            text-align: center;
            width: 550px;
            margin: 10px auto;
        }

        .contentIntro {
            margin-top: 40px;
        }
    }

    .theTeam {
        margin: 50px 0px;
        text-align: center;

        .titleTheTeam {
            font-size: 34px;
            font-weight: bold;
        }
    }
}

.cardPeople {
    width: 230px;
}

.imageAppliance {
    width: auto;
    max-width: 550px;
    width: 100%;
}

.profilePeople {
    height: 200px;
    overflow: hidden;
    cursor: pointer;

}

.profilePeople:hover {
    .imageProfile {
        transform: scale(1.1);
    }
}

.imageProfile {
    width: auto;
    height: 100%;
    border-radius: 5px 5px 0px 0px;
    transition: 0.5s;
}

.desProfile {
    background-color: #3DA8DD;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;

    .textDes {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        color: #fff;
    }
}

.contentAbout2 {
    margin: 70px 0px 50px 0px;
}

.DesContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.btnReadMore {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 150px;
    border: none;
}

.btnReadMore:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}