.containerPage {
    padding: 10px 20px;
}

.titlePage {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
}


.contentPage {
    padding: 10px 15px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

.titleContentService {
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 10px;

    .iconTitleContentService {
        display: flex;
        margin: auto;
        width: 30px;
        color: #4B93FF;
    }

    .contentTitleContentService>p {
        color: rgb(136, 131, 131);
    }
}

.inputForm {
    border: 1px solid rgba(173, 171, 171, 0.542);
}

.errors {
    color: red;
    margin-left: 10px;
}