.containerPage {
    padding: 10px 20px;
}

.contentPage {
    padding: 10px 20px;
}

// .AddCategories {
//     border: 1px solid red;
// }

// .listCategories {
//     border: 1px solid blue;
// }

.labelImgBrand {
    border: 1px solid rgb(193, 189, 189);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px auto 0px auto;
}

.imgBrand {
    width: 75px;
}

.inputForm {
    border: 1px solid rgb(185, 185, 188);
}

.errors {
    color: red;
    margin-left: 10px;
}

.btnAddCategories {
    background-image: linear-gradient(to right, #77d39d 0%, #21d643 51%, #0e8c42 100%);
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnAddCategories:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.cardProduct {
    margin: 10px auto;
    max-width: 200px;
    // box-shadow: 5px 5px 15px rgb(171, 168, 168);
    box-shadow: rgba(147, 138, 138, 0.25) 0px 5px 5px, rgba(188, 179, 179, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.borderImage {
    height: 100px;
    display: flex;
}

.imgProduct {
    width: 100%;
    max-width: 90px;
    margin: auto;
}

.titleProduct {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.quantityItem {
    text-align: center;
    font-weight: 500;
    color: #47db62;
}

.iconMore {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    color: #6f6c6c;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.iconMore:hover {
    background-color: #1380c9;
    color: #fff;
}

.imgDrawer {
    margin: 0px auto 20px auto;
    display: flex;
    width: 100px;

}

.textDrawer {
    font-size: 16px;
}