.titleDetail {
    // border: 1px solid red;
    margin-bottom: 20px;

    .title {
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
    }
}

.leftContent {
    line-height: 2;
    font-size: 16px;

    img {
        width: 100%;
        max-width: 600px;
    }
}

.imgLogo {
    width: 60px;
    display: inline-block;
}

.textLogo {
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    display: inline-block;
    font-size: 30px;
    margin: auto;
}

.rightContent {
    padding: 0px 20px 20px 20px;
}

.imgDetailRepair {
    max-width: 600px;
    width: 100%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.listService {
    height: 500px;
}

.titleList {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    padding: 5px;
    text-align: center;
    background-color: #337CCF;
    color: #fff;
    border-radius: 5px;
}

.listNameService {
    padding: 5px 20px 20px 20px;
    list-style: none;

    .nameService {
        display: grid;
        grid-template-columns: 90% 10%;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Reem Kufi', sans-serif;
        align-items: center;
        cursor: pointer;
        margin: 20px 0px;
        color: #000;
    }

    .iconNameService {
        font-size: 14px;
    }

    .nameService:hover {
        color: #337CCF;

        .iconNameService {
            transform: translate(3px);
            transition: 0.2s;
        }
    }
}


.nameService.active {
    color: #337CCF;
}

.layoutComment {
    min-height: 100px;
    margin: 20px 0px;
    padding: 10px 0px 10px 0px;

    .ratingService {
        margin: 20px 0px 0px 0;
        display: grid;
        grid-template-columns: 160px auto;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(199, 199, 207, 0.533);

        .startRating {
            padding: 10px 0px;
            border-right: 1px solid rgba(217, 217, 217, 0.825);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pointRating {
                font-size: 26px;
                font-weight: bold;
                color: orange;
                text-align: center;
            }

            .start {
                color: orange;
            }
        }

        .overviewRating {
            padding: 0px 10px;

            .progessRating {
                display: grid;
                grid-template-columns: 40px auto;
            }
        }
    }

    .listComment {

        .layoutDetailComment {
            padding: 10px;
            border-bottom: 1px solid rgba(199, 199, 207, 0.533);

            .nameUserComment {
                font-size: 15px;
                font-weight: bold;
                // display: flex;
                display: grid;
                grid-template-columns: auto 20px;

                .iconMore {
                    background-color: rgba(216, 216, 216, 0.695);
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;

                }
            }

            .comment {
                font-weight: 500;
            }

        }
    }

    .uploadTextContact {
        padding: 20px 0px;

        .groupInput {
            display: grid;
            grid-template-columns: auto 40px;
            // border: 1px solid red;
            background-color: #d6d3d361;
            border-radius: 20px;

            input {
                border: none;
                outline: none;
                padding: 10px 0px 10px 15px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background-color: transparent;
            }

            .iconSend {
                background-color: #337CCF;
                border-radius: 50%;
                justify-content: center;
                display: flex;
                align-items: center;
                color: #fff;
                cursor: pointer;
            }

        }
    }

}