@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

// body {
//     background-image: url(../../../../public/background/backgroundRepair.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: 100vh;
// }


.imgLogo {
    width: 50px;
    display: inline-block;
}

.textLogo {
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    display: inline-block;
    transform: translate(0, 7px);
    font-size: 26px;
    margin-left: 5px;
}

.navLink {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    color: #333340;
    margin: 0px 5px;
    width: 100px;
    text-align: center;

}

.navLink:hover {
    color: #1590c4;
    border-bottom: 1px solid #21a3db;
    text-decoration: none;
}

.btnLogin {
    background-image: linear-gradient(to right, #7474BF 0%, #21a3db 51%, #7474BF 100%);
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    font-family: 'Reem Kufi', sans-serif;
    font-weight: bold;


}

.btnLogin:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.username {
    align-items: center;
    margin: auto 0px auto 0px;
    cursor: pointer;
}

.dropdownItem {
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 0;
}

.buttonDrawer {

    font-size: 30px;
    color: rgb(57, 154, 186);
    transition: 0.5s;
}

.buttonDrawer:hover {
    transform: rotate(90deg);
}

.titleDrawer {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: 'Reem Kufi', sans-serif;
}

.listMenu {
    list-style: none;

    .item {
        padding: 10px;
        display: grid;
        grid-template-columns: 30px auto;
        background-color: #cacfd0a8;
        border-radius: 10px;
        margin: 0px 0px 5px 0px;
        cursor: pointer;

        .iconItem {
            font-size: 18px;
            color: #000000;
            margin: 2px;
        }

        .contentItem {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            font-family: 'Reem Kufi', sans-serif;
        }
    }
}


.item2 {
    padding: 10px;
    display: grid;
    grid-template-columns: 30px auto 20px;
    background-color: #cacfd0a8;
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
    cursor: pointer;

    .iconItem {
        font-size: 18px;
        color: #000000;
        margin: 2px;
    }

    .contentItem {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        font-family: 'Reem Kufi', sans-serif;
    }

    .countNotification {
        font-size: 15px;
        font-weight: bold;
        background-color: rgb(255, 0, 0);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #fff;
        margin: auto;
    }

}

.itemLogout {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30px auto;
    background-color: #cacfd0a8;
    border-radius: 10px;
    margin: 0px 0px 5px 0px;

    .iconItem {
        font-size: 18px;
        color: #000000;
        margin: 2px;
    }

    .contentItem {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        font-family: 'Reem Kufi', sans-serif;
    }
}

.infoRepairer {
    display: grid;
    grid-template-columns: 55px auto;

    .avatarProfile {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        object-fit: cover;
    }

    .contentProfile>p:nth-child(1) {
        margin: 0px;
        font-size: 16px;
        font-family: 'Reem Kufi', sans-serif;

    }

    .contentProfile>p:nth-child(2) {
        margin: 0px;
        font-size: 12px;

    }



}