.footerBackground {
    background-color: #17497C;
    color: #fff;
}

.iconFa {
    padding: 0px 5px 0px 0px;
}


.textContactFooter {
    font-size: 15px;
}

.linkFooter {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.linkFooter:hover {
    color: #2dc1e6e2;
}