.titleRepair {
    display: flex;
    padding: 5px 10px;
    background-color: #E1ECFF;
    border-radius: 5px;
    align-items: center;

    .logo {
        display: inline-flex;

        img {
            width: 30px;
        }

        p {
            font-family: 'Reem Kufi', sans-serif;
            font-weight: bold;
            font-size: 22px;
            margin-left: 5px;
        }
    }

    p {
        font-family: 'Reem Kufi', sans-serif;
        font-weight: bold;
        font-size: 22px;
        margin: 0px 0px 0px auto;
    }
}

h5 {
    font-family: 'Reem Kufi', sans-serif;
}

.inforUser {
    .fullName {
        font-weight: bold;
    }

    line-height: 25px;

    p {
        // font-weight: bold;
        margin-bottom: 10px;
        font-size: 15px;

        span {
            font-weight: bold;
        }
    }
}

.titleInforRepair {
    display: flex;
    background-color: #E1ECFF;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    p {
        margin-left: auto;
    }
}


.statusOrder {
    display: flex;
    font-size: 15px;

    span {
        font-weight: bold;
        margin: auto 0px;
    }

    .status {
        padding: 5px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 255, 0);
    }
}

.totalAmout {
    font-size: 18px;
    font-weight: bold;

}

.titlePay {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.selectPayMethoid {
    border: 1px solid rgba(220, 220, 220, 0.704);
    padding: 10px;
    font-size: 16px;
    display: flex;
    width: 120px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #8e8989;
    cursor: pointer;
    height: 50px;

    .iconPay {
        padding: 5px;
    }
}

.active {
    background-color: #3194D2;
    color: #fff;
    border: none;
}

.selectGroup {
    display: flex;
}


.btnPay {
    // background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    // color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin: 10px auto 1px auto;
    width: 100%;
    height: 55px;
    font-weight: bold;
}

// .btnPay:hover {
//     background-position: right center;
//     /* change the direction of the change here */
//     color: #fff;
//     text-decoration: none;
// }

.imageVNPay {
    width: 20px;
    margin-right: 5px;
}

.waitConfirm {
    text-align: center;

    .layoutIcon {
        width: 70px;
        height: 70px;
        border: 4px solid #f7d43a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 25px auto 10px auto;

        .iconWait {
            font-size: 40px;
            color: #f7d43a;

        }
    }

    h5 {
        color: #6f6f6f;
    }

}

.paymentSuccess {
    text-align: center;

    .layoutIcon {
        width: 70px;
        height: 70px;
        border: 4px solid #2AAC75;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 25px auto 10px auto;

        .iconSuccess {
            font-size: 40px;
            color: #2AAC75;

        }
    }

    h5 {
        color: #6f6f6f;
    }

}

.paymentMethod {
    font-size: 16px;
    margin-top: 3px;
}