.onTop {
    position: fixed;
    background-color: #347DCF;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;
    z-index: 10;
    display: flex;

    .iconTop {
        height: 30px;
        width: 30px;
        padding: 5px;
        color: #fff;
    }
}

html {
    scroll-behavior: smooth;
}