 .btnAdd {
     background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
     //  margin: 10px;
     padding: 10px 30px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     font-weight: 500;
     margin-left: auto;
 }

 .btnAdd:active {
     background-position: right center;
     /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
 }

 .titlePage {
     display: flex;
     margin-top: 10px;

 }

 .cardWork {
     padding: 5px 10px;
     background-color: #1149b854;
     border-radius: 10px;
     box-shadow: 5px 10px 10px #bfacac8a;
     color: #fff;
     margin: 5px 0px;

     .titleWorkContent {
         font-family: 'Reem Kufi', sans-serif;
         // color: #000;
         font-size: 16px;
         font-weight: bold;
     }

     .contentWork {
         font-size: 14px;
         // color: #000;
         font-weight: 500;
     }

     .iconMore {
         font-size: 20px;
         display: flex;
         margin: auto;
     }

 }

 .active {
     background-color: rgb(20, 20, 193);
 }

 .calenderSelect {
     border: 1px solid rgb(128, 121, 121);
     box-shadow: 0px 5px 5px rgba(157, 155, 155, 0.651);
 }

 .dateRange {
     width: 300px;
     border-radius: 10px;
     text-align: center;
     margin: 20px auto;
     padding: 10px 5px;
     background-color: #11317cdb;
     color: #fff;

     p {
         font-size: 20px;
         font-weight: bold;
         font-family: 'Reem Kufi', sans-serif;
     }

 }

 //  .dateSelect {
 //      margin-top: 5px;
 //  }

 .dateSelect {
     border: 1px solid rgb(128, 121, 121);
     box-shadow: 0px 5px 5px rgba(220, 217, 217, 0.468);
     background-color: #ffffffc1;
     border: none;
     width: 250px;
     padding: 10px;
     margin: 10px auto;
     display: flex;
 }